body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eed4d4;
  color: #eec4c4;
}

header {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
